.password_reset_wrapper {
    padding: 60px 0;
    text-align: center;
}

.password_reset_wrapper h2 {
    color: #fff;
    margin-bottom: 15px;
}

.password_reset_wrapper p {
    color: #fff;
}

.password_reset_form {
    margin:30px auto;
    width: 600px;
}

@media screen and (max-width: 760px) {
    .password_reset_form {
        width: 100%;
    } 
}

.password_reset_submit_button {
    background-color: var(--pri-clr);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.password_reset_input {
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    margin: 20px 0;
}

.non_member {
    color: #fff;
    margin: 10px 0;
}

.success_message {
    color: #9effa7;
}